name: Publish API

on:
  workflow_dispatch:
  push:
    tags: ["**"]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24.10"
          registry-url: "https://registry.npmjs.org"

      - run: npm install
      - run: tsc
      - run: node dist/distributor.js

      - name: publish
        run: npm publish ./package
